<div class="flex flex-col gap-2">
  <div
    class="hidden grid-cols-12 gap-4 px-2 text-xs font-semibold uppercase tracking-wide text-slate-300 md:grid"
  >
    <div
      class="md:col-span-5"
      [ngClass]="showDataTypes ? 'md:col-span-4' : 'md:col-span-5'"
    >
      Key
    </div>
    @if (showDataTypes) {
    <div class="md:col-span-3">Data Type</div>
    }
    <div
      class="md:col-span-6"
      [ngClass]="showDataTypes ? 'md:col-span-4' : 'md:col-span-6'"
    >
      Value
    </div>
    <div class="md:col-span-1 text-center"></div>
  </div>

  @for (item of items; track item; let index = $index) {
  <div
    class="flex flex-col gap-3 md:grid md:grid-cols-12 md:items-center md:gap-4"
  >
    <div
      class="w-full md:col-span-5"
      [ngClass]="showDataTypes ? 'md:col-span-4' : 'md:col-span-5'"
    >
      <input
        pInputText
        class="w-full font-mono text-slate-200"
        [disabled]="disableItem(item, index)"
        [(ngModel)]="item.key"
      />
    </div>

    @if (showDataTypes) {
    <div class="w-full md:col-span-3">
      <p-select
        class="w-full"
        [options]="availableDataTypes"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
        placeholder="Data Type"
        [(ngModel)]="dataTypes[index]"
      ></p-select>
    </div>
    }

    <div
      class="w-full md:col-span-6"
      [ngClass]="showDataTypes ? 'md:col-span-4' : 'md:col-span-6'"
    >
      @if (!showDataTypes || dataTypes[index] !== 'Boolean') {
      <input
        pInputText
        class="w-full font-mono text-slate-200"
        [type]="
          showDataTypes && dataTypes[index]
            ? dataTypes[index].toLowerCase()
            : 'text'
        "
        [disabled]="showDataTypes && dataTypes[index] === ''"
        [(ngModel)]="item.value"
      />
      } @else {
      <p-select
        class="w-full"
        [disabled]="dataTypes[index] === ''"
        [options]="booleanOptions"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
        placeholder="Select"
        [(ngModel)]="item.value"
      ></p-select>
      }
    </div>

    <div class="flex justify-end md:block md:col-span-1 md:text-center">
      <button
        pButton
        type="button"
        text
        icon="pi pi-times"
        [disabled]="disableItem(item, index)"
        severity="danger"
        (click)="removeItem(index, context)"
      ></button>
    </div>
  </div>
  }

  <div class="pt-2">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      class="uppercase"
      [label]="addLabel"
      [disabled]="isAddDisabled(context)"
      severity="secondary"
      (click)="addItem(context)"
    ></button>
  </div>
</div>
