:host ::ng-deep .app-drawer.p-drawer {
  background: #0f1524;
  box-shadow: none;
}

:host ::ng-deep .app-drawer .p-drawer-content {
  padding: 0;
  background: transparent;
}

:host ::ng-deep .app-drawer .p-drawer-header {
  display: none;
}

:host ::ng-deep .app-drawer .p-drawer-close {
  display: none;
}
