<div class="bg-gray-950 w-screen h-screen m-0 p-0">
  <header class="mt-8 mb-12">
    <h1 class="text-center text-4xl font-semibold text-white md:text-5xl">
      API Sandbox
    </h1>
  </header>

  <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:flex-row">
    <div class="w-full" [ngClass]="{ 'md:w-3/4': hasIndexedDB }">
      <app-api-params
        [openIDBrequest]="openIDBrequest"
        [indexedDB]="indexedDB"
        (newRequest)="fetchPastRequests()"
      ></app-api-params>
    </div>
    @if (hasIndexedDB) {
    <div class="w-full space-y-3 md:w-1/4">
      <app-past-requests
        [pastRequests]="pastRequests"
        (loadRequest)="loadRequestHandler($event)"
      ></app-past-requests>
      <button
        pButton
        class="w-full"
        severity="danger"
        label="Clear Past Requests"
        (click)="clearPastRequests()"
        type="button"
      ></button>
    </div>
    }
  </div>
</div>
