/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #1B2025;
}

body { 
    margin: 0; 
    font-family: 'Lato', sans-serif;
}
